name: Python Package using uv

on:
  push:
    branches:
      - main
  pull_request: {}

jobs:
  build-linux:
    permissions: write-all
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]

    steps:
    - uses: actions/checkout@v4
      with:
        persist-credentials: false

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install uv
      uses: astral-sh/setup-uv@v4
      with:
        enable-cache: true

    - name: Install dependencies
      run: |
        uv sync --no-install-project --all-extras

    - name: Lint with ruff
      run: |
        uv run ruff check
        uv run ruff format --check

    #- name: Lint with flake8
    #  run: |
    #    conda install flake8
    #    # stop the build if there are Python syntax errors or undefined names
    #    flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
    #    # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
    #    flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

    # Uncomment the following lines if you want to run tests and generate coverage reports
    # Note: This section is commented out to avoid running tests and coverage reports during repo setup phase
    #- name: Test with pytest
    #  run: |
    #    conda install pytest
    #    conda install pytest-cov
    #    pytest tests -v --cov --cov-report=term-missing:skip-covered
