name: Python Package using uv

on:
  push:
    branches:
      - main
  pull_request: {}

jobs:
  build-linux:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]

    steps:
    - uses: actions/checkout@v4
      with:
        persist-credentials: false

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install uv
      uses: astral-sh/setup-uv@v4
      with:
        enable-cache: true

    - name: Install dependencies
      run: |
        uv sync --no-install-project --all-extras

    - name: Lint with ruff
      run: |
        uv run ruff check
        uv run ruff format --check
