name: Python Unit Test + Code Coverage

on: 
  push:
    branches:
      - python/pre_release
  pull_request: {}

jobs:
  build-linux:
    permissions:
      contents: write
      pull-requests: write    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      max-parallel: 5

    steps:
    - uses: actions/checkout@v4
      with:
        persist-credentials: false

    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: '3.10'

    - name: Add conda to system path
      run: |
        # $CONDA is an environment variable pointing to the root of the miniconda directory
        echo $CONDA/bin >> $GITHUB_PATH

    - name: Install dependencies
      run: |
        conda env update --file environment.yml --name base

    - name: Lint with ruff
      run: |
        conda install ruff
        ruff check
        ruff format --check

    #- name: Lint with flake8
    #  run: |
    #    conda install flake8
    #    # stop the build if there are Python syntax errors or undefined names
    #    flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
    #    # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
    #    flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

    - name: Test with pytest
      run: |
        conda install pytest
        conda install pytest-cov
        pytest tests -v --cov --junitxml=pytest.xml --cov-report=term-missing:skip-covered | tee pytest-coverage.txt

    - name: Pytest coverage comment
      if: ${{ github.ref == 'refs/heads/python/pre_release' }}
      id: coverageComment
      uses: MishaKav/pytest-coverage-comment@main
      with:
        default-branch: python/pre_release
        pytest-coverage-path: ./pytest-coverage.txt
        junitxml-path: ./pytest.xml

    - name: Rerun coverage generation for Codacy
      if: ${{ github.ref == 'refs/heads/python/pre_release' }}
      run: |
        conda install coverage
        coverage report -m --skip-covered
        coverage xml

    #- name: Upload coverage report to Codacy
    #  if: ${{ github.ref == 'refs/heads/python/pre_release' }}
    #  run: |
    #    export CODACY_PROJECT_TOKEN=${{ secrets.CODACY_PROJECT_TOKEN }}
    #    bash <(curl -s https://coverage.codacy.com/get.sh) report -r coverage.xml

    - name: Update README with Coverage HTML
      if: ${{ github.ref == 'refs/heads/python/pre_release' }}
      run: |
        sed -i '/<!-- Pytest Coverage Comment:Begin -->/,/<!-- Pytest Coverage Comment:End -->/c\<!-- Pytest Coverage Comment:Begin -->\n\${{ steps.coverageComment.outputs.coverageHtml }}\n<!-- Pytest Coverage Comment:End -->' ./README.md

    - name: Commit & Push changes to README
      if: ${{ github.ref == 'refs/heads/python/pre_release' }}
      uses: actions-js/push@master
      with:
        branch: python/pre_release
        message: Update coverage in README [skip_ci]
        github_token: ${{ secrets.GITHUB_TOKEN }}